.news-app {
    display: flex;
    justify-content: center;
    background: black;
    color:white;
    padding: 8px;

}

.wd-header {
    background: black;
    color:white;
    padding: 8px;
    font-size: larger;
    font-weight: bolder;
}

.wd-text-color{
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    color:white;
}

.news-description{
    color: #FAFAFA;
    font-size: small;

}

.new-item {
    width: 100% ;
    padding: 20px;
    border: 2px solid;
    margin-bottom: 10px;
}

.news-img {
    width: 100%;
}