.wd-box{
background: #FAFAFA;
}

.wd-vertical-line{
    height:600px;
}
.wd-button-color{
    background: black;
}
.wd-image-upload
{
    width: 150px;
    height:150px;
}
.wd-select-bttn{
    height: 40px;
}











