.wd-logo {
    /*position: relative;*/
    /*left:150px;*/
    width: 180px;
    /*top:5px;*/
}

.wd-profile {
    /*position: relative;*/
    width: 40px;
    height: 38px;
    /*margin-bottom: 2px;*/
    /*left: 60px;*/
    /*top: 5px;*/
}

.wd-search {
    position: relative;
    top: -13px;
    left: 120px;
}

.wd-search-border {
    border: solid 1px gray;
    width: 100%;
}

.wd-pos {
    position: relative;
    left: 100px;
    top: 12px;
}

.wd-background {
    background-color: black;
}

.wd-logout {
    position: relative;
    top: 20px;
}

@media (max-width: 992px) {
.wd-search-border{
    width: 70%;
}
}
@media (min-width: 768px) {
    .wd-search {
        position: relative;
        top: -11px;
        left: -54px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .wd-search {
        position: relative;
        top: -11px;
        left: -54px;
    }
}
@media (min-width: 992px) {
    .wd-input-container{
        position: absolute;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .wd-logo{
        position: relative;
        left: -30px;
    }
    .wd-house{
        position: relative;
        left: -30px;
    }
    .wd-search-col{
        position: relative;
        left: -40px;
    }
}

